@font-face {
    font-family: DayPosterBlack;
    src: url('../fonts/DAYPBL.ttf');
}
html {
	height: 100%;
}

.navbar {
	border-radius: 0;
}
.navbar-brand, .navbar-inverse .navbar-brand {
	font-family: DayPosterBlack;
	color: #FFF100;
	font-size: 1.6em;
	/*text-shadow: 0px 0px 1px #fff;*/
}

.navbar-button {
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-calculate {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-right {
	padding-right: 20px;
}

.icon-size
{
    font-size: 87px;
}

body {
	background-color: #555;
}

.box {
	box-shadow: 0px 0px 5px  #333; 
	min-width: 50px;
	min-height: 50px;
	background-color: #fff;
	/*border: 1px solid #999;*/
}

#viewport {
	width: 800px;
	height: 600px;
}

#sidestats {
	height: 400px;
}

.box p {
	color: #888;
	padding: 5px;
	padding-left: 15px;
	font-size: 1.8em;
}

.box p:first-of-type {
	padding-top: 10px;
}

.box .big {
	font-size: 4.8em;
	font-weight: bold;
	color: #ccc;
	text-align: center;
}

.file-input {
 	padding: 5px 0px 5px 15px;
}

.loading-image {
	display: none;
}